@font-face {
  font-family: customFont;
  src: url(./fonts/KCIllHand.otf);
  font-weight: normal;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Grande";
}
.outer-container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 10vh 82vh 8vh;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
}

@media only screen and (max-width: 600px) {
  .outer-container {
    height: 100vh;
    grid-template-rows: 10vh 70vh 8vh;
  }
}

.header-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0;
  font-family: customFont;
  background-color: black;
  color: white;
}

.bottom-menu {
  text-align: center;
  line-height: 8vh;
  grid-row-start: 3;
  grid-row-end: 4;
  font-family: customFont;
  color: white;
  background-color: black;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  justify-content: space-around;
}

.nav {
  text-decoration: none;
}

.form-select {
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  padding: 1vh 0 1vh 25vw;
}

h1 {
  margin: 0;
  font-size: 5vh;
  text-decoration: none;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 1;
  word-break: break-word;
}

.voterNum {
  text-align: center;
}

div {
  margin: 0;
}

img {
  height: 5vh;
  width: 5vh;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.vote {
  height: 4vh;
  width: 4vh;
}

input {
  border: none;
  margin: 1vh;
  padding: 0.5vh;
  background-color: black;
  font-size: 16px;
  width: 90%;
}

.clicked-input {
  background-color: white;
  overflow-x: hidden;
  text-align: left;
  height: 20vw;
}

.link {
  text-decoration: none;
  color: white;
}

form {
  margin: 0 0 1vh 0;
}

.demo8-item {
  position: absolute;
  width: 320px;
  height: 90px;
  overflow: visible;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  border-radius: 4px;
  color: rgb(153, 153, 153);
  line-height: 96px;
  padding-left: 32px;
  font-size: 24px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
